logs/*
helix-importer-ui
.DS_Store
*.bak
*.map
libs/*.json
libs/*.d.ts
.idea
coverage
node_modules
.nyc_output
dist
stats.json
web-components/screenshots/Chrome/failed/*
server.crt
server.key
milo-libs
*LICENSE.txt
swc.json
studio.json
*.key
*.crt
test-html-results/
test-results/
nala/.auth/
*.js.map
/.cursor*/
.CLAUDE.md
**/CLAUDE.md
.claude/

# IO Runtime Config
config.json
MerchAtScale-*.json
masStudio-*.json
.env*
.aio
.cursor

# mas specific
!mas/dist
mas/commerce.json
mas/mas.json
mas/stats.json
