merch-card:not([variant]) {
    display: none;
}

merch-card {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

merch-card a,
merch-card button {
    pointer-events: none;
}

merch-card [slot='price'] {
    min-width: 21px;
}

merch-card:hover {
    background-color: var(--spectrum-background-base-color) !important;
}

merch-card:hover:not(.selected) sp-icon-add {
    display: block;
}

.mas-fragment merch-card[variant^='plans'][size='wide'] {
    width: 575px;
    min-width: 575px;
}

.mas-fragment merch-card[variant^='plans'][size='super-wide'] {
    width: 874px;
    min-width: 874px;
}

@media (min-width: 926px) and (max-width: 1235px) {
    .mas-fragment merch-card[variant^='plans'][size='super-wide'] {
        width: 575px;
        min-width: 575px;
    }
}

@media (max-width: 925px) {
    .mas-fragment merch-card[variant^='plans'][size='wide'],
    .mas-fragment merch-card[variant^='plans'][size='super-wide'] {
        width: 276px;
        min-width: 276px;
    }
}
