body {
    margin: 0;
}

sp-theme {
    background-color: var(--spectrum-background-layer-1-color);
}

mas-studio {
    width: 100%;
    display: flex;
    gap: 8px;
    background-color: var(--spectrum-global-color-gray-100);
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

mas-studio > ul > li {
    list-style: none;
    position: relative;
    border-top: 1px dodgerblue solid;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

action-bar {
    align-self: flex-end;
}

sp-textfield {
    width: 360px;
}

sp-underlay + sp-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--spectrum-gray-100);
}

#editor {
    position: fixed;
    bottom: 0;
    top: 0;
    left: var(--editor-left);
    right: var(--editor-right);
    height: 100vh;
    width: 440px;
    background-color: var(--spectrum-white);
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 8px rgb(0 0 0 / 10%);
}

#actions {
    display: flex;
    justify-content: end;
}

sp-status-light {
    position: absolute;
    bottom: -6px;
    left: 6px;
}

rte-field {
    width: 100%;
    border: 1px solid var(--spectrum-global-color-gray-500);
    border-radius: var(--spectrum-corner-radius-100);
}

merch-card {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

merch-card.selected {
    outline: 2px solid var(--spectrum-global-color-blue-600);
}

sp-progress-circle {
    position: absolute;
    top: 50%;
    margin: 0 auto;
}

content-navigation {
    align-self: stretch;
    flex: 1;
}

render-view {
    margin: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding-inline-start: 0;
    align-items: start;
}

content-navigation render-view merch-card .overlay {
    display: none;
}

merch-card-editor {
    display: contents;
}

content-navigation[in-selection] render-view merch-card .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

merch-card-editor mas-multifield,
rte-field {
    margin-inline-end: 16px;
}
